{{ if (and (eq .chezmoi.os "linux") (ne .chezmoi.arch "arm64") (ne .chezmoi.osRelease.id "centos")) -}}
#!/usr/bin/env bash

export ASDF_DATA_DIR="$HOME/.asdf"
ASDF_VERSION="v0.16.5"

mkidr -p "$HOME/bin"
cd "$HOME/bin"
rm -rf asdf
wget https://github.com/asdf-vm/asdf/releases/download/${ASDF_VERSION}/asdf-${ASDF_VERSION}-linux-amd64.tar.gz
tar xvzf asdf-${ASDF_VERSION}-linux-amd64.tar.gz
rm asdf-${ASDF_VERSION}-linux-amd64.tar.gz

asdf_plugin_add() {
  if ! $HOME/bin/asdf plugin list | grep -Fq "$1"
  then
    $HOME/bin/asdf plugin add "$1"
  else
    echo "asdf plugin $1 already installed"
  fi
}

asdf_plugin_add direnv
asdf_plugin_add fd
asdf_plugin_add fzf
asdf_plugin_add nodejs
asdf_plugin_add python

$HOME/bin/asdf install

$HOME/bin/asdf reshim

{{ end -}}
